<div class="info-page row">
  <div class="small-12 medium-4 columns">
    <%= render "shared/card", project: @project %>
  </div>

  <div class="description small-12 medium-8 columns">
    <h3><%= @project.title %></h3>
    <p><%= @project.description %></p>
  </div>

  <hr>
  <% if user_signed_in? && (current_user.sign_ups.find_by(project_id: @project.id).present? || current_user.id == @project.user_id) %>
    <%= render "user", joined_users: @joined_users %>
  <% else %>
    <%= link_to "Sign Up", project_sign_ups_path(@project), method: :post, title: "Sign Up", class: "small button right radius" %>
  <% end %>
</div>
